{% extends "base.html" %}
{% block content %}
<h2>Getting to know us...</h2>
<p>
    We are a self-taught cake/chocolate loving husband and wife team who run a small cake shop in Omagh, Co Tyrone. We
    pride ourselves as being one of the very few scratch bakeries in NI.

    Before I set up shop I baked from home since 2018 selling cakes, cupcakes and brownies, on the side of full time
    jobs. I really wasn’t familiar with the term ‘scratch baking’ until I set up shop, where I had my eyes opened! 😱

    I had lots of suppliers contact me wanting to sell me massive bags of cake, brownie, cookie etc ‘premix’ as that’s
    what all the bakeries use they said. I was so so against it and still am! There’s just no way it would taste the
    same as homemade!
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Quality</h3>
        <p>
            So in our kitchen we use high end ingredients such as callebaut chocolate, (which ain’t cheap! 😂) Real branded
            confectionary and spreads, no fake Maltesers, Mars bars or Nutella lol I didn’t even know this was a thing!!
            And of course the best free range eggs from Ezi Eggs 😍😍
        
            It’s what I’ve always done and what I’ve always known, I would never compromise on taste or quality, being a
            chocoholic myself I can sniff out cheap waxy chocolate a mile off 😂
        
            This of course is reflected in our prices.
            At present there’s no one else like us in our small town (I mean shops) and I know there are lots of people who
            might suck air through their teeth when they see a brownie costs £2.20 - but that’s the cost of quality, hand made,
            scratch baked goods 🙌🏻🙌🏻
        
            We are very much small scale, and try to replicate that home baked taste! Also I can’t understand how it’s ok for
            chain coffee shops to sell a factory produced frozen brownie for more than ours, but I guess that’s just how the
            whole industry works🤷🏼‍♀️🙈
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/242112779_6175432645864652_2052314400876552437_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_ohc=XQQnQkJEQ8UAX-csOoo&_nc_ht=scontent.fgla3-2.fna&oh=ff58d3127ea34d78281fae11c2cc199c&oe=61990C55" alt="image of counter full of tray bakes">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/234868619_6025360970871821_1748218547605690672_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=GEDKiHkzdaYAX8cNMoe&_nc_ht=scontent.fgla3-2.fna&oh=f3aac70451b181dda7b25fe80f14f099&oe=6198DB26" alt="image of owners">
    </div>
    <div class="col-md-7">
        <h3>Thank You!</h3>
        <p>
            So THANK YOU to everyone who gets what we’re about and who has supported our dream since we opened last year. I
            never thought we would have ‘regular’ customers, it’s just amazing 💖💖💖    
        </p>
    </div>
</div>
{% endblock %}