{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{{ url_for('about') }}">
                    <h2 class="post-title">
                        Get to know Hannah and Adam 
                    </h2>
                    <h3 class="post-subtitle">
                        We are a self-taught cake/chocolate loving husband and wife team who run a small cake shop in Omagh, Co Tyrone. We
                        pride ourselves as being one of the very few scratch bakeries in NI.
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a href="{{ url_for('contact') }}">
                    <h2 class="post-title">
                        Want to get in contact about a cake?
                    </h2>
                </a>
                <p class="post-meta">For some inspiration
                    <a href="https://www.facebook.com/pieceofcakeomagh/photos" target="_blank">click here</a>
                    to see some of the cakes we've made.</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Get to know our staff!
                    </h2>
                    <h3 class="post-subtitle">
                        My husband Adam now works along side me and we also employ my Mum, sister, auntie, cousin and 6 other amazing staff that have made everything possible.
                    </h3>
                </a>
            </div>
            <!-- button to the shop -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{ url_for('shop') }}">Our Shop &rarr;</a>
            </div>
        </div>
    </div>
{% endblock %}
