{% extends "base.html" %}
{% block content %}
    <h1>{{ page_title }} <br><br></h1>
    <hr class="featurette-divider">
    <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/117114350_4217238551684081_1333005020972627069_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_ohc=sycfGbhZ2v8AX8G69d_&tn=O2HOw7NeR6Zs2Br7&_nc_ht=scontent.fgla3-2.fna&oh=aa4449871e4cc544b965a57077dc9081&oe=6196CCDB" class="img-fluid" alt="Responsive image for open now banner">
    <hr class="featurette-divider">
    <h2 class="text-center">Products that we have to offer in Piece of Cake...</h2>

{% endblock %}