{% extends "base.html" %}
{% block content %}
<h1>{{ page_title }} <br><br></h1>
<hr class="featurette-divider">
<img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/117114350_4217238551684081_1333005020972627069_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_ohc=sycfGbhZ2v8AX8G69d_&tn=O2HOw7NeR6Zs2Br7&_nc_ht=scontent.fgla3-2.fna&oh=aa4449871e4cc544b965a57077dc9081&oe=6196CCDB"
    class="img-fluid" alt="Responsive image for open now banner">
<hr class="featurette-divider">
<h2 class="text-center">Products that we have to offer in Piece of Cake...</h2>
<!--------------------------------------------------- Thumbnail images for products sold by shop-->
<div class="container">
    <div class="row">
        <!------------------------------Image 1-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/247402572_6371840866223828_3372503218047657515_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=a26aad&_nc_ohc=13_7nEpC9NcAX9FehwR&_nc_ht=scontent.fgla3-2.fna&oh=66cff1794ad84b8c9bdac89f0a654bf6&oe=61998D9A"
                    class="img-thumbnail" alt="Blondies">

                <h4><br><br>Raspberry and White chocolate Blondies</h4>
            </div>
        </div>
        <!------------------------------Image 2-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/248319953_6371840872890494_5671042391440606569_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=a26aad&_nc_ohc=-TqNDeEcb6AAX-Ub5w5&_nc_ht=scontent.fgla3-2.fna&oh=dffda5ac92b4ab8db8b6ee76f3c595a9&oe=619991D7"
                    class="img-thumbnail" alt="Cookie">

                <h4><br><br>Chunky Choc-Chip Cookies</h4>
            </div>
        </div>
        <!------------------------------Image 3-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/247248870_6371840879557160_8182278970949440600_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=a26aad&_nc_ohc=o8jSZZrYc5kAX8D1cOC&_nc_ht=scontent.fgla3-1.fna&oh=e1ec9a73b24f5d9222cc1f65f100f513&oe=619C8DC6"
                    class="img-thumbnail" alt="Whoopie Cookies">

                <h4><br><br>Whoopie Cookies</h4>
            </div>
        </div>
        <!------------------------------Image 4-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/247238545_6371840869557161_4275664288689784595_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_ohc=_2CK0WjhUF0AX8Bwccx&_nc_ht=scontent.fgla3-2.fna&oh=5523d7c1152f3d9651a9a5020ea6298c&oe=619A40AC"
                    class="img-thumbnail" alt="donuts">

                <h4><br><br>Donuts</h4>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="container">
    <div class="row">
        <!------------------------------Image 5-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/245697757_6346676455406936_525898341222477054_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=UkM9177I5S4AX9n2HDb&tn=O2HOw7NeR6Zs2Br7&_nc_ht=scontent.fgla3-1.fna&oh=7be36531d5f177790ac845f097d66538&oe=619B95A9"
                    class="img-thumbnail" alt="cupcakes">

                <h4><br><br>Cupcakes</h4>
            </div>
        </div>
        <!------------------------------Image 6-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/244377802_6285644514843464_3881667490479930939_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=a26aad&_nc_ohc=eqJnNHe7oacAX9yBXxp&_nc_ht=scontent.fgla3-1.fna&oh=04241fa54dc3233d6cefd3c285cdcdec&oe=6199D1B2"
                    class="img-thumbnail" alt="Biscoff Millionaires">

                <h4><br><br>Biscoff Millionaires</h4>
            </div>
        </div>
        <!------------------------------Image 7-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/242500458_6209150239159559_3127959252378812175_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=a26aad&_nc_ohc=EviWik0cmSYAX9L07kS&_nc_ht=scontent.fgla3-1.fna&oh=7961da1268e449d6d4a2418263bc668c&oe=619C5C11"
                    class="img-thumbnail" alt="cookie pie">

                <h4><br><br>Cookie Pie</h4>
            </div>
        </div>
        <!------------------------------Image 8-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/242512616_6203359759738607_3241984783432211110_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=LkgsOP81X6EAX9eEUB0&_nc_ht=scontent.fgla3-1.fna&oh=a5b920ff64d042751ebbe5d3ee95856a&oe=619970B0"
                    class="img-thumbnail" alt="school cake">

                <h4><br><br>School Cake</h4>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="container">
    <div class="row">
        <!------------------------------Image 9-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/242532050_6215196718554911_7040220286045359160_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_ohc=aqxQIAYcMWgAX_uBkVb&_nc_ht=scontent.fgla3-2.fna&oh=debf18dd0d4273f2b3ce7608b688e143&oe=619B383C"
                    class="img-thumbnail" alt="cookie bar Millionaires">

                <h4><br><br>Cookie Bar Millionaires</h4>
            </div>
        </div>
        <!------------------------------Image 10-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/243320846_6244346385639944_2981610028306269226_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=O51Eyliy-YIAX9L50ID&_nc_ht=scontent.fgla3-1.fna&oh=6e795314921073e1a9b1843a0503bc0c&oe=61990185"
                    class="img-thumbnail" alt="Birthday Cakes">

                <h4><br><br>Celebration Cakes</h4>
            </div>
        </div>
        <!------------------------------Image 11-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-1.fna.fbcdn.net/v/t1.6435-9/242827402_6227108510697065_1403454369919503333_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=a26aad&_nc_ohc=STiFSZrZas8AX_nd8R9&_nc_ht=scontent.fgla3-1.fna&oh=a43c5bf6094d2290807bd3d3a67e3222&oe=6196A105"
                    class="img-thumbnail" alt="Brownies">

                <h4><br><br>Brownies</h4>
            </div>
        </div>
        <!------------------------------Image 12-->
        <div class="col-sm">
            <div class="thumbnail">
                <img src="https://scontent.fgla3-2.fna.fbcdn.net/v/t1.6435-9/203630988_5768249049916349_598583185561314221_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=a26aad&_nc_ohc=VJGY-08ePTEAX-_jX6K&_nc_ht=scontent.fgla3-2.fna&oh=99e2866dfc60d50581ec4463b371bba7&oe=619B5D9C"
                    class="img-thumbnail" alt="Ice-Cream">

                <h4><br><br>Ice-Cream</h4>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

{% endblock %}